{% extends base %}

{% block title %}Bicycle Wheel App{% endblock %}

{% block contents %}
<div class="bk-root">
<div>
	<small>Bicycle Wheel App. Copyright <a href="http://dashdotrobot.com/" target="_blank">Matthew Ford</a> 2018. Powered by <a href="https://bokehplots.com/" target="_blank">Bokeh Server</a> and <a href="https://www.python.org/" target="_blank">Python</a>. Code available on <a href="https://github.com/dashdotrobot/wheel-app" target="_blank">GitHub</a></small>
</div>
<div> {{ embed(roots.app) }} </div>
</div>

{% endblock %}
